<nav class="navbar navbar-dark bg-danger fixed-top mb-4 ">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"> <i class="fas fa-pizza-slice"></i> Papa's Pizzeria</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="offcanvas offcanvas-end text-bg-dark bg-danger" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Navigation</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>


      <div class="offcanvas-body bg-danger">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log out</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'overview' %}">Overview</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_item' %}">Add item</a>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customer Side
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'index' %}">Home</a></li>

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'about' %}">About Us</a></li>

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'order' %}">Order</a></li>





            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>