{% extends 'staff/base.html' %}
{% block content %}

    <div class='container'>
        <div class="row justify-content-center pt-5 mt-5">

            <div class="card col-md-5 mr-3 text-center">
                <h3>Revenue:<br>£ {{ total_revenue }}</h3>
            </div>

            <div class="card col-md-5 mr-3 text-center">
                <h3>No. of Orders:<br>{{ total_orders }}</h3>
            </div>

        </div>
    </div>

    <div class="container mt-4">
        <h1><u>Orders - Incomplete</u></h1>
        <table class="table table-bordered table-hover">
            <tr>
                <td>ID</td>
                <td>Price</td>
                <td>Name</td>
                <td>Email</td>
                <td>Address</td>
                <td>Postcode</td>
                <td>Delivery</td>
                <td>Details</td>
            </tr>

            {% for order in incomplete_orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>£ {{ order.price }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.postcode }}</td>

                    {% if order.is_delivery %}
                        <td> <i style="color:green" class="fas fa-check"></i></td>
                    {% else %}
                        <td> <i style="color:red" class="fas fa-times"></i> </td>
                    {% endif %}


                    <td><a href="{% url 'order_details' order.id %}"><i class="far fa-edit"></i></a>
                </tr>
            {% endfor %}
        </table>
    </div>


     <div class="container mt-4">
        <h1><u>Orders - Completed</u></h1>
        <table class="table table-bordered table-hover">
            <tr>
                <td>ID</td>
                <td>Price</td>
                <td>Name</td>
                <td>Email</td>
                <td>Address</td>
                <td>Postcode</td>
                <td>Delivery</td>
                <td>Details</td>
            </tr>

            {% for order in complete_orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>£ {{ order.price }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.postcode }}</td>

                    {% if order.is_delivery %}
                        <td> <i style="color:green" class="fas fa-check"></i></td>
                    {% else %}
                        <td> <i style="color:red" class="fas fa-times"></i> </td>
                    {% endif %}


                    <td><a href="{% url 'order_details' order.id %}"><i class="far fa-edit"></i></a>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock content %}